body {
  background-color: honeydew;
}

.garden {

  display: grid;
  border: 2px solid maroon;
  padding: 2px;
  gap: 2px;

}
#level-1{
grid-template-columns: 1fr 1fr; 

}
#level-2{
grid-template-rows: 1fr 1fr 1fr;
grid-template-columns: 1fr 1fr;

}
#level-2 .peas{
  grid-column: 1/3;
}

#level-3{

  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr; 
  
}

#level-3 .onions{
  grid-column: 2/4;
}
#level-3 .tomatoes{
  grid-column: 1/3;
}
#level-3 .carrots{
  grid-column: 1/4;
}

#level-4{

  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
#level-4 .peas {
  grid-column: 1/3;
}
#level-4 .onions{
  grid-column: 3/4;
  grid-row: 1/3;
}


.garden p {
  margin: 0;
  border-radius: 5px;
  padding: 0.25rem;
  background-color: wheat;
  text-align: center;
}
